@use "../abstracts/forward" as *;

.page {
  height: 100%;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  color: var(--color-text-dark);
  scroll-behavior: smooth;
  font-feature-settings: "clig" off, "liga" off;
}

.page__body {
  height: 100%;
  margin: 0;
  background-color: var(--color-bg-body);
}

.page__container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: $width-mobile-min;
  max-width: $width-desktop;
  min-height: 100%;
  margin-inline: auto;
  padding: 20px 40px 40px;

  @include media-tablet {
    max-width: $width-tablet;
  }
}

.page__header {
  margin-bottom: 20px;
}

.page__main {
  display: grid;
  row-gap: 100px;
  margin-bottom: 100px;
}
