@use "variables" as *;

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin media-laptop {
  @media (max-width: $width-laptop) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $width-tablet) {
    @content;
  }
}

@mixin media-phablet {
  @media (max-width: $width-phablet) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $width-mobile) {
    @content;
  }
}

@mixin media-hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin media-no-hover {
  @media (hover: none) {
    @content;
  }
}

/* Linear interpolation */
@function linterp($x1, $y1, $x2, $y2, $x-input) {
  @return calc($y1 + ($y2 - $y1) / ($x2 - $x1) * ($x-input - $x1));
}
