@use "../abstracts/forward" as *;

.card {
  display: flex;
  flex-direction: column-reverse;
  min-height: 506px;
  border: 1px solid var(--color-bd-light);
  border-radius: 40px;
  cursor: pointer;
  transition: opacity 0.5s ease-in;

  @include media-tablet {
    &:nth-child(n+5) {
      display: none;
    }
  }
}

.card__text-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  row-gap: 12px;
  height: 100%;
  padding: 22px 20px 18px;
}

.card__title,
.card__price {
  margin-block: 0;
  font-size: 24px;
  line-height: 125%;
}

.card__title {
  font-weight: 600;
}

.card__desc {
  margin-block: 0;
  font-weight: 400;
}

.card__img-wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 308px;
  border-radius: 40px;

  @include media-mobile {
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

.card__img {
  max-width: unset;
  height: unset;
  transition: transform 0.5s ease-out;
  transform: scale(1);
  transform-origin: center;

  .card:hover & {
    @include media-hover {
      transform: scale(0.91);
    }
  }
}

