@use "../abstracts/forward" as *;

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  user-select: none;
}

.slide__title,
.slide__price {
  font-size: 24px;
  line-height: 125%;
}

.slide__title {
  margin-block: 0;
  margin-bottom: 16px;
  font-weight: 600;
}

.slide__img {
  order: -1;
  margin-bottom: 20px;
  pointer-events: none;

  @include media-phablet {
    width: 348px;
    height: 348px;
  }

  @include media-mobile {
    width: 100%;
    max-width: unset;
    height: auto;
  }
}

.slide__desc {
  flex-grow: 1;
  margin-block: 0;
  margin-bottom: 16px;
  font-weight: 400;
}

.slide__price {
  margin-block: 0;
}
