:root {
  --font-primary: "Inter", "Arial", sans-serif;
  --color-text-dark: #403f3d;
  --color-text-light: #e1d4c9;
  --color-text-accent: #b0907a;
  --color-bg-body: #e1d4c9;
  --color-bg-container: #665f55;
  --color-bg-backdrop: rgba(64, 63, 61, 0.8);
  --color-bd-light: #c1b6ad;
  --color-bd-dark: #665f55;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
}

/* Linear interpolation */
.page {
  height: 100%;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  color: var(--color-text-dark);
  scroll-behavior: smooth;
  font-feature-settings: "clig" off, "liga" off;
}

.page__body {
  height: 100%;
  margin: 0;
  background-color: var(--color-bg-body);
}
@media (max-width: 768px) {
  .page__body--js-no-scroll {
    overflow: hidden;
  }
}

.page__container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100%;
  margin-inline: auto;
  padding: 20px 40px 40px;
}
@media (max-width: 768px) {
  .page__container {
    max-width: 768px;
  }
}
@media (max-width: 480px) {
  .page__container {
    padding-inline: 16px;
  }
}

.page__header {
  margin-bottom: 20px;
}

.page__main {
  display: grid;
  row-gap: 100px;
  margin-bottom: 100px;
}

.logo__img {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    row-gap: 100px;
    justify-content: flex-start;
    background-color: var(--color-bg-body);
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-right: var(--margin-right-header);
}
@media (max-width: 768px) {
  .nav__list {
    flex-grow: 0;
    flex-direction: column;
    row-gap: 60px;
    justify-content: start;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .nav__item {
    text-align: center;
  }
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: var(--color-text-dark);
}
@media (max-width: 768px) {
  .nav__link {
    font-size: 32px;
    line-height: 125%;
  }
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-text-dark);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transform: scaleX(0);
  transform-origin: center;
}
@media (hover: hover) {
  .nav__link:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
}
.nav__link--icon_cup {
  display: flex;
  column-gap: 8px;
}
@media (max-width: 768px) {
  .nav__link--icon_cup {
    column-gap: 16px;
  }
}
.nav__link--icon_cup::before {
  content: "";
  flex-shrink: 0;
  order: 1;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/coffee-cup.svg");
}
@media (max-width: 768px) {
  .nav__link--icon_cup::before {
    width: 40px;
    height: 40px;
    background-image: url("../img/icons/burger-cup.svg");
  }
}
.nav__link--active::after {
  opacity: 1;
  transform: scaleX(1);
}

.heading {
  margin-block: 0;
  margin-bottom: 40px;
  font-size: 60px;
  line-height: 125%;
  font-weight: 600;
  color: var(--color-text-dark);
}
@media (max-width: 768px) {
  .heading {
    font-size: calc(60px + 0.0972222222 * (100vw - 768px));
  }
}
@media (max-width: 480px) {
  .heading {
    font-size: 32px;
  }
}
.heading--main {
  font-size: 72px;
  line-height: 76px;
}
@media (max-width: 720px) {
  .heading--main {
    font-size: calc(72px + 0.125 * (100vw - 720px));
    line-height: 105%;
  }
}
@media (max-width: 480px) {
  .heading--main {
    font-size: 42px;
    line-height: 48px;
  }
}
.heading--light {
  color: var(--color-text-light);
}

.heading__accent {
  font-style: italic;
  color: var(--color-text-accent);
}

.carousel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  justify-content: center;
  place-items: center;
}

.carousel__window {
  display: flex;
  grid-area: 1/1/2/2;
  overflow: hidden;
  width: min(100% - 130px, 480px);
  container-type: inline-size;
  container-name: carousel-window;
}
@media (max-width: 480px) {
  .carousel__window {
    width: 100%;
  }
}

.carousel__slides-row {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  transition: transform 1s ease-in-out;
}
@container carousel-window (max-width: 480px) {
  .carousel__slides-row {
    column-gap: 35cqw;
  }
}

@container carousel-window (max-width: 480px) {
  .carousel__slide {
    width: 100cqw;
  }
}

.carousel__controls {
  display: flex;
  grid-area: 1/1/2/2;
  justify-content: space-between;
  width: 100%;
  padding-inline: 4px;
}
@media (max-width: 768px) {
  .carousel__controls {
    padding-inline: 0;
  }
}
@media (max-width: 480px) {
  .carousel__controls {
    display: none;
  }
}

.carousel__btn {
  display: inline-flex;
  justify-content: center;
  place-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--color-bg-body);
  border: 1px solid var(--color-bd-dark);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease-out, opacity 0.5s ease-out;
}
.carousel__btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background-color: var(--color-text-dark);
  transition: background-color 0.5s ease-out;
  -webkit-mask-image: url("../img/icons/arrow-left.svg");
          mask-image: url("../img/icons/arrow-left.svg");
}
.carousel__btn--next::after {
  transform: rotate(180deg);
}
@media (hover: hover) {
  .carousel__btn:hover {
    background-color: var(--color-bg-container);
  }
  .carousel__btn:hover::after {
    background-color: var(--color-text-light);
  }
}
.carousel__btn:disabled {
  background-color: var(--color-bg-body);
  opacity: 0.4;
  pointer-events: none;
}
.carousel__btn:disabled::after {
  background-color: var(--color-text-dark);
}

.carousel__bars {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.carousel__bar-container {
  width: 40px;
  height: 4px;
  background-color: var(--color-bd-light);
  border-radius: 2px;
}

.carousel__bar {
  display: block;
  width: 0;
  height: 100%;
  background-color: var(--color-bd-dark);
  border-radius: inherit;
}
.carousel__bar--current {
  width: 100%;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  -webkit-user-select: none;
          user-select: none;
}

.slide__title,
.slide__price {
  font-size: 24px;
  line-height: 125%;
}

.slide__title {
  margin-block: 0;
  margin-bottom: 16px;
  font-weight: 600;
}

.slide__img {
  order: -1;
  margin-bottom: 20px;
  pointer-events: none;
}
@media (max-width: 480px) {
  .slide__img {
    width: 348px;
    height: 348px;
  }
}
@media (max-width: 380px) {
  .slide__img {
    width: 100%;
    max-width: unset;
    height: auto;
  }
}

.slide__desc {
  flex-grow: 1;
  margin-block: 0;
  margin-bottom: 16px;
  font-weight: 400;
}

.slide__price {
  margin-block: 0;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  min-height: 506px;
  border: 1px solid var(--color-bd-light);
  border-radius: 40px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .card:nth-child(n+5) {
    display: none;
  }
}

.card__text-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  row-gap: 12px;
  height: 100%;
  padding: 22px 20px 18px;
}

.card__title,
.card__price {
  margin-block: 0;
  font-size: 24px;
  line-height: 125%;
}

.card__title {
  font-weight: 600;
}

.card__desc {
  margin-block: 0;
  font-weight: 400;
}

.card__img-wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 308px;
  border-radius: 40px;
}
@media (max-width: 380px) {
  .card__img-wrapper {
    height: auto;
    aspect-ratio: 1/1;
  }
}

.card__img {
  max-width: unset;
  height: unset;
  transition: transform 0.5s ease-out;
  transform: scale(1);
  transform-origin: center;
}
@media (hover: hover) {
  .card:hover .card__img {
    transform: scale(0.91);
  }
}

.contacts__title {
  margin-block: 0;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 125%;
  font-weight: 600;
  color: var(--color-text-light);
}

.contacts__address {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 4px;
}

.contacts__item {
  position: relative;
  display: flex;
  column-gap: 8px;
  width: -moz-fit-content;
  width: fit-content;
  font-style: normal;
  text-decoration: none;
  color: var(--color-text-light);
}
.contacts__item[href]::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-text-light);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transform: scaleX(0);
  transform-origin: center;
}
.contacts__item::before {
  content: "";
  align-self: start;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
@media (hover: hover) {
  .contacts__item[href]:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
}
.contacts__item--icon_location::before {
  background-image: url("../img/icons/location.svg");
}
.contacts__item--icon_phone::before {
  background-image: url("../img/icons/phone.svg");
}
.contacts__item--icon_time::before {
  background-image: url("../img/icons/clock.svg");
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-bd-light);
  border-radius: 50%;
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
}
.socials__link::after {
  content: "";
  width: 24px;
  height: 24px;
  background-color: var(--color-text-light);
  transition: background-color 0.5s ease-out;
}
.socials__link--icon_twit::after {
  -webkit-mask-image: url("../img/icons/twitter.svg");
          mask-image: url("../img/icons/twitter.svg");
}
.socials__link--icon_inst::after {
  -webkit-mask-image: url("../img/icons/instagram.svg");
          mask-image: url("../img/icons/instagram.svg");
}
.socials__link--icon_fb::after {
  -webkit-mask-image: url("../img/icons/facebook.svg");
          mask-image: url("../img/icons/facebook.svg");
}
@media (hover: hover) {
  .socials__link:hover {
    background-color: var(--color-bg-body);
    border-color: var(--color-bg-body);
  }
  .socials__link:hover::after {
    background-color: var(--color-text-dark);
  }
}

.header {
  --margin-right-header: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  flex-shrink: 0;
  margin-right: var(--margin-right-header);
}

.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--color-bg-body);
    border: 1px solid var(--color-bd-dark);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
  }
}
.header__burger::before, .header__burger::after {
  content: "";
  grid-area: 1/1/2/2;
  width: 18px;
  height: 2px;
  background-color: var(--color-text-dark);
  border-radius: 10px;
  transition: background-color 0.5s ease-out, transform 0.5s ease-out;
}
.header__burger::before {
  transform: translateY(-4px);
}
.header__burger::after {
  transform: translateY(4px);
}
@media (hover: hover) {
  .header__burger:hover {
    background-color: var(--color-bg-container);
  }
  .header__burger:hover::before, .header__burger:hover::after {
    background-color: var(--color-text-light);
  }
}
.header--js-burger-opened .header__burger::before {
  transform: rotate(-45deg) translateY(0);
}
.header--js-burger-opened .header__burger::after {
  transform: rotate(45deg) translateY(0);
}

.header__nav {
  flex-grow: 1;
  min-width: 320px;
  padding-bottom: 4px;
}
@media (max-width: 768px) {
  .header__nav {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: calc(100vh - 100px);
    padding: 60px 40px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100vw);
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .header__nav {
    padding-inline: 16px;
  }
}
@media (max-width: 768px) {
  .header__nav--js-transition-added {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0.7s ease-out;
  }
  .header--js-burger-opened .header__nav {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.hero {
  display: grid;
  grid-template-columns: min(530px, 100%);
  padding: 100px;
  background-color: var(--color-text-dark);
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 40px;
}
@media (max-width: 1100px) {
  .hero {
    padding-inline: 60px;
  }
}
@media (max-width: 720px) {
  .hero {
    padding-inline: calc(60px + 0.1833333333 * (100vw - 720px));
    padding-block: calc(100px + 0.1666666667 * (100vw - 720px));
  }
}
@media (max-width: 480px) {
  .hero {
    padding: 60px 16px;
  }
}

.hero__desc {
  margin-block: 0;
  margin-bottom: 40px;
  font-weight: 400;
  color: var(--color-text-light);
}

.hero__btn {
  display: inline-grid;
  place-items: center;
  justify-self: start;
  min-width: 200px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: var(--color-text-dark);
  background-color: var(--color-bg-body);
  border: none;
  border-radius: 100px;
}
.hero__btn::after {
  content: "";
  left: 0;
  grid-area: 1/1/2/2;
  justify-self: start;
  width: 20px;
  height: 20px;
  margin-left: 96px;
  background-image: url("../img/icons/coffee-cup.svg");
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
@media (hover: none) {
  .hero__btn::after {
    opacity: 1;
  }
}
@media (hover: hover) {
  .hero__btn:hover::after {
    opacity: 1;
  }
}

.hero__btn-text {
  grid-area: 1/1/2/2;
  transition: transform 0.5s ease-out;
}
@media (hover: none) {
  .hero__btn-text {
    transform: translateX(-14px);
  }
}
@media (hover: hover) {
  .hero__btn:hover .hero__btn-text {
    transform: translateX(-14px);
  }
}

.favorite__heading {
  text-align: center;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: 430px 120px 430px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 430px 120px;
  grid-auto-flow: dense;
  gap: 40px;
}
@media (max-width: 1100px) {
  .about__list {
    grid-template-rows: repeat(auto-fit, 590px);
    grid-template-columns: 650px;
    grid-auto-rows: 590px;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .about__list {
    grid-template-columns: 1fr;
  }
}

.about__item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}
.about__item:nth-child(4n+1), .about__item:nth-child(4n+4) {
  grid-row: span 2;
}
@media (max-width: 1100px) {
  .about__item:nth-child(4n+1), .about__item:nth-child(4n+4) {
    grid-row: span 1;
  }
}
.about__item:nth-child(4n+3) {
  grid-column: 1;
}
@media (max-width: 768px) {
  .about__item:nth-child(2), .about__item:nth-child(3), .about__item:nth-child(n+5) {
    display: none;
  }
}

.about__img {
  max-width: unset;
  height: unset;
  transition: transform 0.5s ease-out;
  transform: scale(1);
  transform-origin: center;
}
@media (hover: hover) {
  .about__item:hover .about__img {
    transform: scale(0.91);
  }
}
@media (hover: hover) and (max-width: 768px) {
  .about__item:hover .about__img {
    transform: scale(0.95);
  }
}

.apps {
  display: flex;
  gap: 100px;
  align-items: center;
}
@media (max-width: 1100px) {
  .apps {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .apps {
    row-gap: 40px;
  }
}

.apps__desc {
  margin-block: 0;
  margin-bottom: 40px;
  font-weight: 400;
}

.apps__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.apps__link {
  display: inline-grid;
  grid-template-columns: min-content 1fr;
  row-gap: 2px;
  column-gap: 8px;
  align-items: center;
  min-width: 200px;
  padding: 11px 19px;
  text-decoration: none;
  color: var(--color-text-dark);
  border: 1px solid var(--color-bd-dark);
  border-radius: 100px;
  transition: background-color 0.5s ease-in, color 0.5s ease-in;
}
.apps__link::before {
  content: "";
  grid-row: span 2;
  width: 36px;
  height: 36px;
  background-color: var(--color-text-dark);
  transition: background-color 0.5s ease-in;
}
.apps__link--icon_apple::before {
  -webkit-mask-image: url("../img/icons/app-store.svg");
          mask-image: url("../img/icons/app-store.svg");
}
.apps__link--icon_google::before {
  -webkit-mask-image: url("../img/icons/google-play.svg");
          mask-image: url("../img/icons/google-play.svg");
}
@media (hover: hover) {
  .apps__link:hover {
    color: var(--color-text-light);
    background-color: var(--color-bg-container);
  }
  .apps__link:hover::before {
    background-color: var(--color-text-light);
  }
}

.apps__text {
  font-size: 10px;
  line-height: 140%;
}

.apps__distributor {
  grid-column: 2;
}

.apps__img {
  flex-shrink: 0;
}
@media (max-width: 480px) {
  .apps__img {
    width: 348px;
    height: 348px;
  }
}
@media (max-width: 380px) {
  .apps__img {
    width: 100%;
    max-width: unset;
    height: auto;
  }
}

.menu__heading {
  max-width: 800px;
  margin-inline: auto;
  text-align: center;
}

.menu__categories {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  .menu__categories {
    gap: 8px;
  }
}

.menu__btn-category {
  display: inline-grid;
  grid-template-columns: min-content 1fr;
  column-gap: 8px;
  justify-content: center;
  place-items: center;
  padding: 7px 15px 7px 7px;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  color: var(--color-text-dark);
  background-color: var(--color-bg-body);
  border: 1px solid var(--color-bd-light);
  border-radius: 100px;
  cursor: pointer;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
.menu__btn-category::before {
  content: "";
  grid-area: 1/1/2/2;
  width: 30px;
  height: 30px;
  background-color: var(--color-bd-light);
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out;
}
.menu__btn-category::after {
  content: "";
  grid-area: 1/1/2/2;
  width: 16px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
}
@media (hover: hover) {
  .menu__btn-category:hover {
    color: var(--color-text-light);
    background-color: var(--color-bg-container);
    border-color: var(--color-bg-container);
  }
  .menu__btn-category:hover::before {
    background-color: var(--color-bg-body);
  }
}
.menu__btn-category--active {
  color: var(--color-text-light);
  background-color: var(--color-bg-container);
  border-color: var(--color-bg-container);
  cursor: initial;
}
.menu__btn-category--active::before {
  background-color: var(--color-bg-body);
}
.menu__btn-category--icon_coffee::after {
  background-image: url("../img/icons/cup.png");
}
.menu__btn-category--icon_tea::after {
  background-image: url("../img/icons/teapot.png");
}
.menu__btn-category--icon_dessert::after {
  background-image: url("../img/icons/cake.png");
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 310px);
  gap: 40px;
  justify-content: center;
}
@media (max-width: 380px) {
  .menu__list {
    grid-template-columns: clamp(288px, 100vw - 32px, 310px);
  }
}

.menu__btn-load {
  display: none;
}
@media (max-width: 768px) {
  .menu__btn-load {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-inline: auto;
    margin-top: 40px;
    background-color: var(--color-bg-body);
    border: 1px solid var(--color-bd-dark);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
  }
}
.menu__btn-load::after {
  content: "";
  width: 24px;
  height: 24px;
  background-color: var(--color-text-dark);
  transition: background-color 0.5s ease-out;
  -webkit-mask-image: url("../img/icons/refresh.svg");
          mask-image: url("../img/icons/refresh.svg");
}
@media (hover: hover) {
  .menu__btn-load:hover {
    background-color: var(--color-bg-container);
  }
  .menu__btn-load:hover::after {
    background-color: var(--color-text-light);
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  align-items: center;
  padding: 100px;
  background-color: var(--color-bg-container);
  border-radius: 40px;
}
@media (max-width: 1100px) {
  .footer {
    grid-template-columns: 1fr;
    padding-inline: 60px;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 60px 16px;
  }
}

.footer__socials {
  grid-column: 1;
}
@media (max-width: 1100px) {
  .footer__socials {
    margin-bottom: 100px;
  }
}
@media (max-width: 480px) {
  .footer__socials {
    margin-bottom: 40px;
  }
}

.footer__contacts {
  grid-area: 1/2/3/3;
}
@media (max-width: 1100px) {
  .footer__contacts {
    grid-area: auto;
  }
}/*# sourceMappingURL=style.css.map */