.header {
  --margin-right-header: 50px;

  display: flex;
  justify-content: space-between;
}

.header__logo {
  flex-shrink: 0;
  margin-right: var(--margin-right-header);
}

.header__nav {
  flex-grow: 1;
  padding-bottom: 4px;
}

