@use "../abstracts/forward" as *;

.header {
  --margin-right-header: 22px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  flex-shrink: 0;
  margin-right: var(--margin-right-header);
}

.header__burger {
  $lines-vertical-offset: 4px;

  display: none;

  @include media-tablet {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--color-bg-body);
    border: 1px solid var(--color-bd-dark);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
  }

  &::before,
  &::after {
    content: "";
    grid-area: 1 / 1 / 2 / 2;
    width: 18px;
    height: 2px;
    background-color: var(--color-text-dark);
    border-radius: 10px;
    transition: background-color 0.5s ease-out, transform 0.5s ease-out;
  }

  &::before {
    transform: translateY(-$lines-vertical-offset);
  }

  &::after {
    transform: translateY($lines-vertical-offset);
  }

  &:hover {
    @include media-hover {
      background-color: var(--color-bg-container);

      &::before,
      &::after {
        background-color: var(--color-text-light);
      }
    }
  }

  .header--js-burger-opened & {
    &::before {
      transform: rotate(-45deg) translateY(0);
    }

    &::after {
      transform: rotate(45deg) translateY(0);
    }
  }
}

.header__nav {
  flex-grow: 1;
  padding-bottom: 4px;

  @include media-tablet {
    $top-offset: 100px;

    position: fixed;
    top: $top-offset;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: calc(100vh - $top-offset);
    padding: 60px 40px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100vw);

    @include media-phablet {
      padding-inline: 16px;
    }

    // Script added class that prevents the transition effect of the burger menu hiding while reducing the screen width
    &--js-transition-added {
      transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 1s ease-out;
    }

    .header--js-burger-opened & {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}

