.hero {
  display: grid;
  grid-template-columns: 530px;
  padding: 100px;
  background-image: url("../img/hero-bg.jpg");
  border-radius: 40px;
}

.hero__desc {
  margin-block: 0;
  margin-bottom: 40px;
  font-weight: 400;
  color: var(--color-text-light);
}

.hero__btn {
  display: inline-grid;
  place-items: center;
  justify-self: start;
  min-width: 200px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: var(--color-text-dark);
  background-color: var(--color-bg-body);
  border: none;
  border-radius: 100px;

  &::after {
    content: "";
    left: 0;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    width: 20px;
    height: 20px;
    margin-left: 96px;
    background-image: url("../img/icons/coffee-cup.svg");
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  &:hover::after {
    opacity: 1;
  }
}

.hero__btn-text {
  grid-area: 1 / 1 / 2 / 2;
  transition: transform 0.5s ease-out;

  .hero__btn:hover & {
    transform: translateX(-14px);
  }
}
